:root {

    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    font-family: 'Outfit', sans-serif;
}

body {
    background-color:  var(--light-gray);
}

.qr-card {
    background-color: var(--white);

    max-width: 15.625rem;
    text-align: center;

    border-radius: 1.25rem;

    padding: 0.75rem;

    margin: 20rem auto 10rem;
}

.qr-card img {
    max-width: 100%;
    border-radius: 0.5rem;
}

.qr-card h1 {
    font-size: 1.125rem;
    color: var(--dark-blue);
    margin-top: 1.25rem;
}

.qr-card p {
    font-size: 0.75rem;
    color: var(--grayish-blue);
    margin: 0.75rem 0;
    padding: 0 0.75rem;
}

.attribution {
    text-align: center;
}


@media screen and (max-width: 375px){
    .qr-card {
        margin: 2rem auto 10rem;
    }
}
